.Flashcards {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 40px;
    padding: 30px;
}

@media only screen and (max-width: 1099px) {
    .Flashcards {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 765px) {
    .Flashcards {
        display: grid;
        grid-template-columns: 1fr;
    }
}