.top-bar {
    font-family: sans-serif;
    text-align: right;
    margin-top: 0px;
}

.logo {
    text-align: left;
}

.container {
    font-family: 'Lexend Deca', sans-serif;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    text-align: center;
    color: black;
    height: 270px;
    background-image: linear-gradient(#E6E6E6, #D7F2FE);
    border-radius: 35px;
    box-shadow: 3px 3px 5px rgb(101, 99, 99);
    width: 300px !important;
}

h1 {
    padding-top: 30px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: -10px !important;
    font-size: 60px !important;
    text-shadow: 3px 3px 2px rgb(77, 77, 77);
    font-weight: bolder !important;
}



.button {
    padding-top: 20px !important;
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.hr {
    margin-top: 10px;
}

.card {
    text-align: center;
    align-items: center;
    background-color: transparent !important;
    border: none !important;
}

.flipcard {
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
    
}

.flip-front {
    width: 80%;
    height: 300px;
    margin: 50px;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn-next {
    text-align: right;
}

.footer-left {
    text-align: center;
    padding-bottom: 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram {
    padding-left: 10px;
    padding-right: 10px;
}

.bot-footer {
    text-align: center;
    padding-top: 25px;
} 