@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

body {
    background-image: url('Components/CategoryIcon/Background.png');
    font-family: 'Lexend Deca', sans-serif;
}